{% extends "layout.html" %}
{% block title %} Calculate {% endblock %}
{% block content %}
  
  {{ super() }}

  <div class="col-md-4 bg-orange text-center rounded-4">
    <h3 class="text-dark my-5 px-5">Enter an Integer Value:</h3>

    <form class="px-5" method="post">
      <div class="form-floating mb-3">
        <input class="form-control" type="number" name="number" value="number" placeholder="Select Number!">
        <label class="mb-5"for="number">Number</label>
      </div>
      <div class="pb-5">
        <input type="submit" value="Submit">
      </div>
    </form>
  </div>
{% endblock %}