{% extends "layout.html" %}
{% block title %} Home {% endblock %}
{% block content %}
  <h1 class="text-orange display-1 my-5">The Current Time is {{currentDate}}</h1>

  <div class="pt-5">
    <div class="py-5">
      <a href="/calculate" class="btn btn-dark rounded-5 text-light-orange" type="button">
        <h1 class="p-3">Calculate!</h1>
      </a>
    </div>

    <div class="py-5">
      <a href="/addStudentOrganisation" class="btn btn-dark rounded-5 text-light-orange" type="button">
        <h1 class="p-3">Add Student Org!</h1>
      </a>
    </div>
  </div>
{% endblock %}