{% extends "layout.html" %}
{% block title %} Student Form {% endblock %}
{% block content %}

  {{ super() }}

  <h1>Register</h1>

  <div class="col-md-4 bg-orange text-center rounded-4">
    <h3 class="text-dark my-5 px-5">Enter Student Information below:</h3>

    <form class="px-5" method="post">
      <div class="form-floating mb-3">
        <input class="form-control" type="name" name="inputName" required>
        <label class="mb-5" for="inputName">Name</label>
      </div>
      <div class="form-floating mb-3">
        <select class="form-control" name="inputOrg" required>
          <option value="" disabled selected>Choose</option>
          <option value="{org1}">{org1}</option>
          <option value="{org2}">{org2}</option>
          <option value="{org3}">{org3}</option>
          <option value="{org4}">{org4}</option>
          <option value="{org5}">{org5}</option>
        </select>
        <label class="mb-5" for="inputOrg">Select one</label>
      </div>  
      <div class="pb-5">
        <input type="submit" value="Submit">
      </div>
    </form>
  </div>
{% endblock %}