{% extends "layout.html" %}
{% block title %} Student Form {% endblock %}
{% block content %}

  {{ super() }}

  <h1 class="text-md pb-5">Register</h1>

  <div class="col-md-4 bg-orange text-center rounded-4">
    <h3 class="text-dark my-5 px-5">Enter Student Information below:</h3>

    <form class="px-5" method="post">
      <div class="form-floating mb-3">
        <input class="form-control" type="name" name="name" required>
        <label class="mb-5" for="name">Name</label>
      </div>
      <div class="form-floating mb-3">
        <select class="form-select" name="org" required>
          <option value="" disabled selected>Select One</option>
          <option value="Charlotte Hack">Charlotte Hack</option>
          <option value="Code 9">Code 9</option>
          <option value="Women Who Code">Women Who Code</option>
          <option value="Runtime Terror">Runtime Terror</option>
          <option value="49th Security Division">49th Security Division</option>
        </select>
        <label class="mb-5" for="inputOrg">Organization</label>
      </div>  
      <div class="pb-5">
        <button type="submit" class="btn btn-dark">Register</button>
      </div>
    </form>
  </div>
{% endblock %}